<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.insa.controller.InsaDao">


	<!-- 공통코드 List -->
	<select id="sexList" resultType="com.company.insa.vo.InsaComVo">
		<![CDATA[
			SELECT name FROM insa_com WHERE gubun='01'
		]]>
	</select>
	
	<select id="emailList" resultType="com.company.insa.vo.InsaComVo">
		<![CDATA[
			SELECT name FROM insa_com WHERE gubun='02'
		]]>
	</select>
	
	<select id="statusList" resultType="com.company.insa.vo.InsaComVo">
		<![CDATA[
			SELECT name FROM insa_com WHERE gubun='03'
		]]>
	</select>
	
	<select id="putYnList" resultType="com.company.insa.vo.InsaComVo">
		<![CDATA[
			SELECT name FROM insa_com WHERE gubun='04'
		]]>
	</select>
	
	
	
	<select id="deptList" resultType="com.company.insa.vo.InsaComVo">
		<![CDATA[
			SELECT name,code FROM insa_com WHERE gubun='05' 
		]]>
	</select>
	
	<select id="positionList" resultType="com.company.insa.vo.InsaComVo">
		<![CDATA[
			SELECT name FROM insa_com WHERE gubun='06'
		]]>
	</select>
	
	<select id="jobTypeList" resultType="com.company.insa.vo.InsaComVo">
		<![CDATA[
			SELECT name FROM insa_com WHERE gubun='07'
		]]>
	</select>
	




	
	<select id="milYnList" resultType="com.company.insa.vo.InsaComVo">
		<![CDATA[
			SELECT name FROM insa_com WHERE gubun='08'
		]]>
	</select>
	
	<select id="milTypeList" resultType="com.company.insa.vo.InsaComVo">
		<![CDATA[
			SELECT name FROM insa_com WHERE gubun='09'
		]]>
	</select>
	
	<select id="milLevelList" resultType="com.company.insa.vo.InsaComVo">
		<![CDATA[
			SELECT name FROM insa_com WHERE gubun='10'
		]]>
	</select>
	
	<select id="kosaYnList" resultType="com.company.insa.vo.InsaComVo">
		<![CDATA[
			SELECT name FROM insa_com WHERE gubun='11'
		]]>
	</select>
	 
	<select id="kosaLevelList" resultType="com.company.insa.vo.InsaComVo">
		<![CDATA[
			SELECT name FROM insa_com WHERE gubun='12'
		]]>
	</select>
	
	<select id="grdLevelList" resultType="com.company.insa.vo.InsaComVo">
		<![CDATA[
			SELECT name FROM insa_com WHERE gubun='13'
		]]>
	</select>
	
</mapper>

