<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.insa.controller.InsaDao">

	<select id="status" resultType="com.company.insa.vo.InsaComVo">
		<![CDATA[
			SELECT NAME FROM INSA.TB_INSA_COM WHERE GUBUN='01'
		]]> 
	</select>
	
	<select id="sex" resultType="com.company.insa.vo.InsaComVo">
		<![CDATA[
			SELECT NAME FROM INSA.TB_INSA_COM WHERE GUBUN='02'
		]]> 
	</select>
	
	<select id="email" resultType="com.company.insa.vo.InsaComVo">
		<![CDATA[
			SELECT NAME FROM INSA.TB_INSA_COM WHERE GUBUN='03'
		]]> 
	</select>
	
	<select id="dept" resultType="com.company.insa.vo.InsaComVo">
		<![CDATA[
			SELECT NAME FROM INSA.TB_INSA_COM WHERE GUBUN='04'
		]]> 
	</select>
	
	<select id="position" resultType="com.company.insa.vo.InsaComVo">
		<![CDATA[
			SELECT NAME FROM INSA.TB_INSA_COM WHERE GUBUN='05'
		]]> 
	</select>
	
	<select id="jobType" resultType="com.company.insa.vo.InsaComVo">
		<![CDATA[
			SELECT NAME FROM INSA.TB_INSA_COM WHERE GUBUN='06'
		]]> 
	</select>
	
	<select id="milYn" resultType="com.company.insa.vo.InsaComVo">
		<![CDATA[
			SELECT NAME FROM INSA.TB_INSA_COM WHERE GUBUN='07'
		]]> 
	</select>

	<select id="milType" resultType="com.company.insa.vo.InsaComVo">
		<![CDATA[
			SELECT NAME FROM INSA.TB_INSA_COM WHERE GUBUN='08'
		]]> 
	</select>
	
	<select id="grdLevel" resultType="com.company.insa.vo.InsaComVo">
		<![CDATA[
			SELECT NAME FROM INSA.TB_INSA_COM WHERE GUBUN='09'
		]]> 
	</select>
	
	<select id="kosaYn" resultType="com.company.insa.vo.InsaComVo">
		<![CDATA[
			SELECT NAME FROM INSA.TB_INSA_COM WHERE GUBUN='10'
		]]> 
	</select>
	
	<select id="kosClass" resultType="com.company.insa.vo.InsaComVo">
		<![CDATA[
			SELECT NAME FROM INSA.TB_INSA_COM WHERE GUBUN='11'
		]]> 
	</select>
	
</mapper>

